@import 'src/lib/sass/gradients';

.body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.headline {
    display: flex;
    padding-bottom: .5rem;
    border-bottom: 2px solid #f8f8f8;
    align-items: center;
}

.text {
    flex: 1;
    font-size: 1.5rem;
    color: #464646;
    line-height: 2rem;
}

.content {
    flex: 1;
    display: contents;
}

:host ::ng-deep .widget-content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    display: block;
    max-height: 460px;
}

:host ::ng-deep .headline-controls-wrapper {
    display: flex;
}

:host ::ng-deep .headline-controls-wrapper>* {
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1.5rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42%;
    margin-right: 0.3rem;
    box-shadow: 0 0 4px #9d9d9d;
    opacity: .8;
}

:host ::ng-deep .headline-controls-wrapper>*:hover {
    animation: opacity .2s ease-out;
    opacity: 1;
}

:host ::ng-deep .headline-controls-wrapper>.primary {
    @include gradient-darkblue;
    color: #ffffff;
}

:host ::ng-deep .headline-controls-wrapper>.danger {
    @include gradient-red;
    color: #ffffff;
}