<div class="body" [class.limited-height]="limitedHeight$ | async">
  <a class="option-wrapper disabled">
    <div
      class="option"
      routerLink="route-planning"
      [class.active]="location.pathname === '/route-planning'"
    >
      <mat-icon class="icon">map</mat-icon>
      <div class="text">routing</div>
    </div>
  </a>

  <a class="option-wrapper">
    <div
      class="option"
      routerLink="data-pipeline-designer"
      [class.active]="location.pathname === '/data-pipeline-designer'"
    >
      <mat-icon class="icon">hub</mat-icon>
      <div class="text">pipeline</div>
    </div>
  </a>

  <a class="option-wrapper">
    <div
      class="option"
      routerLink="pipe-runner"
      [class.active]="location.pathname === '/pipe-runner'"
    >
      <mat-icon class="icon">play_arrow</mat-icon>
      <div class="text">run pipe</div>
    </div>
  </a>

  <a class="option-wrapper">
    <div
      class="option"
      routerLink="local-data"
      [class.active]="location.pathname === '/local-data'"
    >
      <mat-icon class="icon">web_stories</mat-icon>
      <div class="text">local data</div>
    </div>
  </a>

  <a class="option-wrapper">
    <div
      class="option"
      routerLink="calculation"
      [class.active]="location.pathname === '/calculation'"
    >
      <mat-icon class="icon">rocket_launch</mat-icon>
      <div class="text">calculation</div>
    </div>
  </a>

  <a
    id="visualization-option-wrapper"
    class="option-wrapper"
    [class.disabled]="(solutionCount$ | async) === 0"
  >
    <div
      class="option"
      (click)="gotoVisualizer()"
      [ngClass]="{
        active: location.pathname === '/visualizer',
        highlighted: solutionNavItemHighlighted$ | async
      }"
    >
      <mat-icon class="icon">view_in_ar</mat-icon>
      <div class="text">visualization</div>
    </div>
  </a>

  <div class="spacer"></div>

  <a class="option-wrapper">
    <div
      class="option"
      routerLink="about"
      [class.active]="location.pathname === '/about'"
    >
      <mat-icon class="icon">help</mat-icon>
      <div class="text">about</div>
    </div>
  </a>

  <div class="version">
    version {{ currentApplicationVersion ?? "local dev" }}
  </div>
</div>
