<div class="body" [class.limited-height]="(limitedHeight$|async)">

   <div class="option-wrapper disabled">

      <div class="option" routerLink="route-planning" [class.active]="router.url === '/route-planning'">

         <mat-icon class="icon">map</mat-icon>
         <div class="text">Tour planning</div>
   
      </div>
   </div>

   <div class="option-wrapper">
      <div class="option" routerLink="data-pipeline-designer" [class.active]="router.url === '/data-pipeline-designer'">

         <mat-icon class="icon">hub</mat-icon>
         <div class="text">data pipeline</div>
   
      </div>
   </div>
   
   <div class="option-wrapper">
      <div class="option" routerLink="orders" [class.active]="router.url === '/orders'">

         <mat-icon class="icon">web_stories</mat-icon>
         <div class="text">static orders</div>
   
      </div>
   </div>

   <div class="option-wrapper">
      <div class="option" routerLink="calculation" [class.active]="router.url === '/calculation'">

         <mat-icon class="icon">file_upload</mat-icon>
         <div class="text">calculate</div>
   
      </div>
   </div>

   <div class="option-wrapper" [class.disabled]="!(dataService.currentSolutionAvailable$|async)">
      <div class="option" routerLink="visualizer" [class.active]="router.url === '/visualizer'">

         <mat-icon class="icon">view_in_ar</mat-icon>
         <div class="text">visualization</div>
   
      </div>
   </div>

   <div class="spacer"></div>

   <div class="option-wrapper">
      <div class="option" routerLink="about" [class.active]="router.url === '/about'">

         <mat-icon class="icon">help</mat-icon>
         <div class="text">about</div>
   
      </div>
   </div>

</div>
