<div class="body">

   <div class="option-wrapper">
      <div class="option" routerLink="route-planning" [class.active]="router.url === '/route-planning'">

         <mat-icon class="icon">map</mat-icon>
         <div class="text">Tourenplan</div>
   
      </div>
   </div>
   
   <div class="option-wrapper">
      <div class="option" routerLink="orders" [class.active]="router.url === '/orders'">

         <mat-icon class="icon">edit</mat-icon>
         <div class="text">Bestellungen</div>
   
      </div>
   </div>

   <div class="option-wrapper">
      <div class="option" routerLink="calculate" [class.active]="router.url === '/calculate'">

         <mat-icon class="icon">file_upload</mat-icon>
         <div class="text">Berechnen</div>
   
      </div>
   </div>

   <div class="option-wrapper">
      <div class="option" routerLink="visualizer" [class.active]="router.url === '/visualizer'">

         <mat-icon class="icon">view_in_ar</mat-icon>
         <div class="text">Visualisieren</div>
   
      </div>
   </div>

   <div class="spacer"></div>

   <div class="option-wrapper">
      <div class="option" routerLink="about" [class.active]="router.url === '/about'">

         <mat-icon class="icon">help</mat-icon>
         <div class="text">Impressum</div>
   
      </div>
   </div>

</div>
