<div class="body" [formGroup]="formGroup">

    <mat-form-field appearance="outline" class="width">
        <mat-label>Benutzername</mat-label>
        <input type="text" autocomplete="off" formControlName="userName" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="width">
        <mat-label>Passwort</mat-label>
        <input [type]="showPassword? 'text': 'password'" autocomplete="off" formControlName="password" matInput />
        <button mat-icon-button matSuffix (click)="showPassword = !showPassword">
            <mat-icon>{{showPassword? 'visibility': 'visibility_off'}}</mat-icon>
        </button>
    </mat-form-field>

</div>
