<div class="body">

    <ng-container *ngIf="goods.length > 0; else noGoodsAvailable">

        <table mat-table class="smgr-table small striped" [dataSource]="goods">

            <ng-container matColumnDef="desc">
                <th mat-header-cell *matHeaderCellDef>description</th>
                <td mat-cell *matCellDef="let element">{{element.desc}}</td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell" colspan="5">
                    {{goods.length}} goods
                </td>
            </ng-container>

            <ng-container matColumnDef="height">
                <th mat-header-cell *matHeaderCellDef class="centered-cell">height</th>
                <td mat-cell *matCellDef="let element" class="centered-cell">{{element.height|prettyLength:0|async}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="width">
                <th mat-header-cell *matHeaderCellDef class="centered-cell">width</th>
                <td mat-cell *matCellDef="let element" class="centered-cell">{{element.width|prettyLength:0|async}}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef class="centered-cell">length</th>
                <td mat-cell *matCellDef="let element" class="centered-cell">{{element.length|prettyLength:0|async}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: columns;" class="smgr-table-body-row hoverable"
                (mouseenter)="goodHovered(row)" (click)="goodSelected(row)"></tr>
            <tr mat-footer-row *matFooterRowDef="columns; sticky: true"></tr>

        </table>

    </ng-container>

</div>

<ng-template #noGoodsAvailable>

    <div class="no-content-available">

        bo goods available

    </div>

</ng-template>