.body {
    padding: 1rem;
    overflow-y: auto;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.widget {
    background-color: white;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.orders-widget {
    min-height: 460px;
}

.solutions-widget {
    min-height: 400px;
}

.groups-widget {
    min-height: 400px;
}

.products-widget {
    min-height: 400px;
}

@media screen and (min-width: 1000px) {

    .content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .orders-widget {
        grid-column: 1 / span 4;
    }
    
    .solutions-widget {
        grid-column: 4 / span 3;
    }
    
    .groups-widget {
        grid-column: 5 / span 2;
    }
    
    .products-widget {
        grid-column: 1 / span 3;
    }

}