<div class="body" [formGroup]="formGroupProvider.formGroup">

    <mat-form-field appearance="outline" class="width">
        <mat-label>Berechnungsendpunkt</mat-label>
        <input type="text" formControlName="endpoint" matInput placeholder="z.B. https://example.com/api/calculate" />
    </mat-form-field>

    <app-select-api-authorization formControlName="authorization" class="select-api-authorization" appearance="outline"></app-select-api-authorization>

    <ng-template #dynamicContent></ng-template>

</div>