.body {
  padding: 2rem;
}

.headline-wrapper .headline {
  font-size: 2rem;
  line-height: 2rem;
}

.version-wrapper {
  display: flex;
  margin-top: 0.5rem;

  .tag {
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    background-color: #0078d4;
    color: white;
  }
}
