.body {
  padding: 2rem;
}

.headline-wrapper .headline {
  font-size: 2rem;
  line-height: 2rem;
}

.version-wrapper {
  display: flex;
  margin-top: 0.5rem;

  .tag {
    font-weight: 100;
    margin-right: 0.5rem;
    padding: 0.2rem 0.4rem;
    border-radius: 2px;
    background-color: gray;
    color: white;
  }
}
