.step-overview {
    max-height: 200px;
    overflow-y: auto;
}

.headline {
    padding: 0.5rem;
    font-weight: 700;
}

.step-wrapper {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    cursor: pointer;
}

.step-wrapper:nth-child(odd) {
    background-color: #f8f8f8;
}

.step-wrapper:hover {
    background-color: rgb(255, 249, 231);
}

.sequence-number {
    padding: 0px 0.5rem 0px 1rem;
    font-weight: 700;
}

.message-wrapper {
    padding: .5rem;
    flex: 1;
}

.message:not(:last-child) {
    margin-bottom: .2rem;
}
