.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #fbfbfb;
}

.panel-wrapper {
    flex: 1;
    padding: 2rem 1rem;
}

.headline {
    font-size: 1.5rem;
}

.goods-wrapper, .groups-wrapper, .validator-wrapper, .animation-wrapper {
    margin-top: 1rem;
}

.expansion-panel-headline {
    font-weight: 500;
    font-size: 1.2rem;
}

.container-wrapper {
    margin-top: 1rem;
}

.footer {
    text-align: center;
}
