<div class="body" @show>
  <div class="panel-wrapper">
    <div class="general-wrapper">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-headline">
            {{ headline$|async ?? 'unknown' }}
          </mat-panel-title>

          <mat-panel-description>general</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="general-inner">
          <div class="metadata-wrapper">
            <div class="metadata">
              <div class="calculated" *ngIf="calculated">
                calculated {{ (calculated$|async | date: "dd.MM.yyyy HH:mm") ?? 'unknown' }}
              </div>

              <div class="algorithm" *ngIf="algorithm">
                algorithm {{ (algorithm$|async) ?? 'unknown' }}
              </div>
            </div>

            <div class="next-solution-wrapper">
              <button mat-icon-button [disabled]="(dataService.solutions$ | async)?.length < 2"
                (click)="solutionPreviewComponentService.nextSolution()" matTooltip="next solution">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>

          <div class="container-wrapper">
            <app-container-preview [container]="container$|async"></app-container-preview>
          </div>
        </div>
      </mat-expansion-panel>
    </div>

    <div class="goods-wrapper">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-headline">
            goods
          </mat-panel-title>

          <mat-panel-description>positioned goods</mat-panel-description>
        </mat-expansion-panel-header>

        <app-goods-panel></app-goods-panel>
      </mat-expansion-panel>
    </div>

    <div class="groups-wrapper">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-headline">
            groups
          </mat-panel-title>

          <mat-panel-description>used groups</mat-panel-description>
        </mat-expansion-panel-header>

        <app-groups-panel></app-groups-panel>
      </mat-expansion-panel>
    </div>

    <div class="animation-wrapper">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-headline">
            animation
          </mat-panel-title>

          <mat-panel-description> animate calculation </mat-panel-description>
        </mat-expansion-panel-header>

        <app-solution-animation></app-solution-animation>
      </mat-expansion-panel>
    </div>

    <div class="validator-wrapper">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-panel-headline" [class.error]="
              (dataService.currentSolutionValidation$ | async)?.length > 0
            ">
            validator
          </mat-panel-title>

          <mat-panel-description> solution validation </mat-panel-description>
        </mat-expansion-panel-header>

        <app-solution-validation></app-solution-validation>
      </mat-expansion-panel>
    </div>
  </div>

  <div class="footer">
    <div class="control accent-2" (click)="downloadSolution()">download</div>
  </div>
</div>