.body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: gray;
}

.visualization {
    height: 100px;
    width: 100px;
    visibility: hidden;
}

.rendering-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
}