.body {
    display: flex;
    flex-direction: row;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow: hidden;
}

.body.loading { 
    opacity: .4;
    pointer-events: none;
}

.content {
    flex: 1;
    background-color: rgb(243, 243, 243);
    overflow: hidden;
}