<div class="body">
  <ng-container *ngIf="container; else noContainerAvailable">
    <div class="description">
      <div class="text">Container</div>
    </div>

    <div class="property-row">
      <div class="property">
        <div class="attribute">width</div>
        <div class="value">{{ container.width | prettyLength:3:true | async }}</div>
      </div>

      <div class="property">
        <div class="attribute">height</div>
        <div class="value">{{ container.height | prettyLength:3:true | async }}</div>
      </div>

      <div class="property">
        <div class="attribute">length</div>
        <div class="value">{{ container.length | prettyLength:3:true | async }}</div>
      </div>

      <div class="property">
        <div class="attribute">volume</div>
        <div class="value">
          {{
            container.length * container.height * container.width
              | prettyVolume: true | async
          }}
        </div>
      </div>
    </div>

    <div class="chart-wrapper">
      <div class="chart-inner">
        <canvas
          baseChart
          [datasets]="datasets"
          [labels]="labels"
          type="doughnut"
          [options]="options"
        ></canvas>
      </div>

      <div class="percentage-wrapper">
        <div class="percentage">{{ percentage }} %</div>
        <div class="text">packaging load</div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #noContainerAvailable>
  <div class="no-content-available">no container available</div>
</ng-template>
