<div class="body">

    <div class="response-preview" *ngIf="(submitConfigurationProvider.loginResponse$|async)" [ngClass]="{
        'success': (submitConfigurationProvider.succeeded$|async),
        'error': !(submitConfigurationProvider.succeeded$|async)
    }">

        <ngx-json-viewer [json]="(submitConfigurationProvider.loginResponse$|async) ?? { }"></ngx-json-viewer>

    </div>

    <button *ngIf="!(submitConfigurationProvider.succeeded$|async)" mat-raised-button color="primary" (click)="testLogin()">Test Login</button>

</div>
