<div class="body main-component-body">

    <div @widgetFadeIn class="content" [formGroup]="formGroup">

        <app-widget class="widget orders-widget" headline="orders">
            <div class="headline-controls-wrapper">
                <mat-icon id="add-order-menu-trigger" class="primary" [class.disabled]="noGroupsOrProducts$|async" [matMenuTriggerFor]="selectOrderProductMenu" matTooltip="add order">add
                </mat-icon>
                <mat-icon id="clear-orders" class="danger" [class.disabled]="noOrdersAvailable$|async" matTooltip="clear orders" (click)="clearOrders()">delete_outline</mat-icon>
            </div>
            <app-orders-form class="widget-content" formArrayName="orders"></app-orders-form>
        </app-widget>

        <app-widget class="widget groups-widget" headline="groups">
            <div class="headline-controls-wrapper">
                <mat-icon  id="add-group-trigger" class="primary" (click)="addGroup()" matTooltip="add group">add
                </mat-icon>
                <mat-icon class="danger" matTooltip="clear groups" (click)="clearGroups()">delete_outline</mat-icon>
            </div>
            <app-groups-form class="widget-content" formArrayName="groups"></app-groups-form>
        </app-widget>

        <app-widget class="widget products-widget" headline="products">
            <div class="headline-controls-wrapper">
                <mat-icon id="add-product-trigger" class="primary" (click)="addProduct()" matTooltip="add product">add
                </mat-icon>
            </div>
            <app-products-form class="widget-content" formArrayName="products"></app-products-form>
        </app-widget>

        <app-widget class="widget solutions-widget" headline="context and solutions">
            <div class="headline-controls-wrapper">
                <mat-icon id="calculation-control" [class.disabled]="!(calculationContextValid$|async)" [matMenuTriggerFor]="selectCalculationSourceMenu" class="primary">play_arrow</mat-icon>
            </div>
            <app-calculation-context-overview class="widget-content" formGroupName="calculationContext"></app-calculation-context-overview>
        </app-widget>

    </div>

</div>

<mat-menu #selectOrderProductMenu="matMenu">
    <button mat-menu-item *ngFor="let product of (products$|async)" [matMenuTriggerFor]="selectOrderGroupMenu"
        [matMenuTriggerData]="{ product: product }" (click)="$event.stopPropagation()">{{product.description}}</button>
</mat-menu>

<mat-menu #selectOrderGroupMenu="matMenu">
    <ng-template matMenuContent let-product="product">
        <button mat-menu-item *ngFor="let group of (groups$|async)"
            (click)="addOrder($event, product, group)">{{group.desc}}</button>
    </ng-template>
</mat-menu>

<mat-menu #selectCalculationSourceMenu="matMenu">
    <button mat-menu-item>coming soon ;)</button>
</mat-menu>