<div class="body dialog-body">

    <div class="dialog-nav-bar">

        <mat-icon class="icon">block</mat-icon>
        <span class="text">
            no data found
        </span>
        <button mat-icon-button color="warn" [disabled]="true" (click)="close()">
            <mat-icon>clear</mat-icon>
        </button>

    </div>

    <div class="content dialog-content">

        <div class="user-hint">
            
            No data to display. 
            Decide for one option to proceed.

        </div>

        <div class="suggeston-wrapper">

            <div class="suggestion data-pipeline" (click)="gotoPipelineDesigner()">

                <div class="headline">
                    design data pipeline
                </div>

                <div class="sub-title">
                    design a flow to import data and calculate solution
                </div>

                <div class="footer">
                    <mat-icon>hub</mat-icon>
                </div>

            </div>

            <div class="suggestion static-orders" (click)="gotoOrders()">

                <div class="headline">
                    use static orders
                </div>

                <div class="sub-title">
                    navigate to order preview and provide static set
                </div>

                <div class="footer">
                    <mat-icon>web_stories</mat-icon>
                </div>

            </div>

            <div class="suggestion exemplary-data" (click)="useExampleData()">

                <div class="headline">
                    use exemplary data
                </div>

                <div class="sub-title">
                    use exemplary data and navigate to algorithm overview
                </div>

                <div class="footer">
                    <mat-icon>upload</mat-icon>
                </div>

            </div>

            <div class="suggestion exemplary-solution" (click)="useExampleSolution()">

                <div class="headline">
                    use exemplary solution
                </div>

                <div class="sub-title">
                    use and visualize exemplary solution
                </div>

                <div class="footer">
                    <mat-icon>view_in_ar</mat-icon>
                </div>

            </div>

        </div>

    </div>

</div>