.body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 466px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
}

.user-hint {
    margin-bottom: 1rem;
    font-weight: 100;
}

.suggeston-wrapper {
    flex: 1;
    overflow-x: auto;
    padding-bottom: 1rem;
    text-align: center;
}

.suggestion {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    width: 180px;
    height: 160px;
    border-radius: 3px;
    cursor: pointer;
    transition: .5s all ease-out;
    border-radius: 3px;
    padding: .5rem;
    margin-bottom: .3rem;
    margin-right: .3rem;
    background: linear-gradient(135deg, #0078d4, #0078d4bd, #0078d4);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.suggestion:hover {
    opacity: .8;
}

.suggestion .headline {
    padding: 0.5rem;
    font-weight: 500;
    text-align: center;
    color: white;
}

.suggestion .sub-title {
    white-space: break-spaces;
    padding: 0.5rem;
    color: #e3e3e3;
    flex: 1;
    font-size: .7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggestion .footer {
    text-align: center;
}

.suggestion .footer mat-icon {
    height: auto;
    width: auto;
    font-size: 3rem;
    line-height: 3rem;
    color: #ffffff;
}
