@import "dialog";
@import "src/lib/scss/button";
@import "src/lib/scss/gradients";
@import '~quill/dist/quill.snow.css';
@import "bebas-neue.css";

html,
body {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(218, 218, 218);
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(193 193 193);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
}

.mat-mdc-menu-item {
    min-height: unset !important;
    font-size: .8rem;
}
