<div class="body">

    <ng-container *ngIf="((currentSolutionValidation$|async)?.length ?? 0) > 0; else noValidationErrors">

        <div class="error-wrapper" *ngFor="let error of ((currentSolutionValidation$|async) ?? [])">

            <div class="error-title">
                {{$any(error).error|solutionValidationError}}
            </div>

            <div class="control">

                <button color="warn" mat-icon-button (mouseenter)="hoverError(error)" (mouseleave)="mouseleave()">
                    <mat-icon>search</mat-icon>
                </button>

            </div>

        </div>

    </ng-container>

</div>

<ng-template #noValidationErrors>

    <div class="no-content-available">

        solution is valid

    </div>

</ng-template>
