.body {
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 1rem;
}

.algorithm-overview {
    background-color: white;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.algorithm-overview .headline {
    font-size: 1.5rem;
    padding: 2rem 2rem 0.5rem 2rem;
    background-color: #ffffff;
    color: #363636;
}

.algorithm-overview .description {
    padding: 0px 2rem 1rem 2rem;
    color: #444444;
    font-weight: 100;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0px 2rem;
    margin-bottom: 2rem;
    height: 100%;
}

.footer-button-wrapper {
    vertical-align: top;
}

.footer-button {
    margin-top: .5rem;
    margin-right: .5rem;
    display: inline-block;
}

.progress-status {
    flex: 1;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.calculation-error {
    margin-top: 0.2rem;
    background-color: #ffd2d2;
    color: #b01010;
    padding: 0.4rem 0.5rem;
    width: 100%;
    border-radius: 2px;
}

.width {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .body {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .body {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
