<div class="body">

    <div class="content" @widgetFadeIn>

        <div class="widget algorithm-overview" (click)="configureAPICall()">

            <div class="headline">
                <div class="text">
                    connect own service
                </div>
                <span class="badge">
                    using data pipeline
                </span>
            </div>

            <div class="description">
                Configure a custom data flow and import data using interfaces such as data uploads or API calls.
            </div>

            <div class="algorithm-content">

                <app-api-configuration-preview></app-api-configuration-preview>

                <div class="footer-button-wrapper">

                    <div class="control primary"
                        [ngClass]="{ 'disabled': (configureApiCallService.configurationValid$|async)?.invalid ?? true }">
                        start app
                    </div>

                </div>

            </div>

        </div>

        <div class="widget algorithm-overview" *ngFor="let wrapper of calculationComponentService.algorithms" [class.unavailable]="!wrapper.available">

            <div class="headline">
                <div class="text">
                    {{wrapper.algorithm.title}}
                </div>
                <span class="badge">
                    calulated in browser
                </span>
            </div>

            <div class="description">
                {{wrapper.algorithm.description}}
            </div>

            <div class="algorithm-content">

                <mat-form-field class="width">

                    <mat-label>solution description</mat-label>
                    <input type="text" #input [value]="wrapper.solutionDescription" (keyup)="wrapper.solutionDescription = input.value" matInput  />

                </mat-form-field>

                <div class="progress-status">

                    <div class="progress-status-label">

                        <span class="status">state: </span>

                        <ng-container [ngSwitch]="wrapper.status">

                            <span *ngSwitchCase="AlgorithmCalculationStatus.PrepareCalculation">
                                preparing ...
                            </span>

                            <span *ngSwitchCase="AlgorithmCalculationStatus.Calculating">
                                calculating ...
                            </span>

                            <span *ngSwitchCase="AlgorithmCalculationStatus.Calculated">
                                calculated {{wrapper.solution?.calculated|date:'dd.MM.yyyy HH:mm'}}
                            </span>

                            <span *ngSwitchCase="AlgorithmCalculationStatus.Error">
                                error
                            </span>

                            <span *ngSwitchDefault>
                                not calculated yet
                            </span>

                        </ng-container>

                    </div>

                    <div *ngIf="wrapper.status === AlgorithmCalculationStatus.Calculated">
                        length: {{wrapper.solution?.container?.length|prettyLength:2:true|async}}
                    </div>

                    <ng-container *ngIf="wrapper.status === AlgorithmCalculationStatus.Error">

                        <div class="calculation-error" *ngFor="let error of wrapper.errors">
                            {{error|calculationError}}
                        </div>

                    </ng-container>

                </div>

                <div class="footer-button-wrapper">

                    <div class="control primary" (click)="calculationComponentService.calculateAlgorithm(wrapper)">
                        calculate
                    </div>

                    <div class="control accent-2"
                        (click)="calculationComponentService.visualizeSolution(wrapper.solution!)"
                        [ngClass]="{ 'disabled': wrapper.status !== AlgorithmCalculationStatus.Calculated }">
                        visualize
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>