<div class="body" @show>

    <div class="algorithm-overview" *ngFor="let wrapper of calculationComponentService.algorithms">

        <div class="headline">
            {{wrapper.algorithm.title}}
        </div>

        <div class="description">
            {{wrapper.algorithm.description}}
        </div>

        <div class="content">

            <mat-form-field class="width">

                <mat-label>Bezeichnung Lösung</mat-label>
                <input type="text" #input [value]="wrapper.solutionDescription" (keyup)="wrapper.solutionDescription = input.value" matInput />

            </mat-form-field>

            <div class="progress-status">

                <div class="progress-status-label">

                    <span class="status">Status: </span>

                    <ng-container [ngSwitch]="wrapper.status">

                        <span *ngSwitchCase="ALGORITHM_CALCULATION_STATUS.PENDING">
                            Nicht berechnet
                        </span>
    
                        <span *ngSwitchCase="ALGORITHM_CALCULATION_STATUS.PREPARE_CALCULATION">
                            Bereite vor ...
                        </span>
    
                        <span *ngSwitchCase="ALGORITHM_CALCULATION_STATUS.CALCULATING">
                            Berechnet ...
                        </span>
    
                        <span *ngSwitchCase="ALGORITHM_CALCULATION_STATUS.CALCULATED">
                            Berechnet {{wrapper.solution._Calculated|date:'dd.MM.yyyy HH:mm'}} Uhr
                        </span>
    
                        <span *ngSwitchCase="ALGORITHM_CALCULATION_STATUS.ERROR">
                            Fehler
                        </span>
    
                        <span *ngSwitchDefault>
                            Nicht geprüft
                        </span>
    
                    </ng-container>

                </div>

                <ng-container *ngIf="wrapper.status === ALGORITHM_CALCULATION_STATUS.ERROR">

                    <div class="calculation-error" *ngFor="let error of wrapper.errors">
                        {{error|calculationError}}
                    </div>

                </ng-container>

            </div>

            <div class="footer-button-wrapper">

                <button class="footer-button" mat-raised-button color="primary" (click)="calculationComponentService.calculateAlgorithm(wrapper)">
                    Berechnen
                </button>
    
                <button class="footer-button" mat-raised-button color="primary" (click)="calculationComponentService.visualizeSolution(wrapper.solution)" [disabled]="wrapper.status !== ALGORITHM_CALCULATION_STATUS.CALCULATED">
                    Visualisieren
                </button>

            </div>
            
        </div>

    </div>

</div>
