.body {
    overflow-y: auto;
    height: -webkit-fill-available;
}

.content {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
}

.algorithm-overview {
    background-color: white;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.algorithm-overview.unavailable {
    opacity: .6;
    pointer-events: none;
}

.algorithm-overview .headline {
    display: flex;
    align-items: baseline;
    padding: 2rem 2rem 0.5rem 2rem;
}

.algorithm-overview .headline .text {
    font-size: 1.3rem;
    background-color: #ffffff;
    color: #363636;
}

.algorithm-overview .headline .badge {
    padding: 4px 6px;
    font-size: .7rem;
    color: black;
    border-radius: 3px;
    margin-left: 0.5rem;
    line-height: .7rem;
    font-weight: 500;
}

.algorithm-overview .description {
    padding: 0px 2rem 1rem 2rem;
    color: #444444;
    font-weight: 100;
}

.algorithm-content {
    display: flex;
    flex-direction: column;
    padding: 0px 2rem;
    margin-bottom: 2rem;
    height: 100%;
}

.footer-button-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-button-wrapper>* {
    margin-right: .2rem;
}

.progress-status {
    flex: 1;
    padding: 1rem;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #e4eeff;
    color: #343434;
    margin-bottom: 0.5rem;
    font-size: .8rem;
    line-height: 1rem;
    border: 2px solid #dae8ff;
}

.calculation-error {
    margin-top: 0.2rem;
    background-color: #ffd2d2;
    color: #b01010;
    padding: 0.4rem 0.5rem;
    width: 100%;
    border-radius: 2px;
}

.width {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}