<div class="body">
  <ng-container *ngIf="good; else noGood">
    <div class="description">
      <div class="text">{{ good.desc }}</div>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="property-row">
      <div class="property">
        <div class="attribute">width</div>
        <div class="value">{{ good.width | prettyLength }}</div>
      </div>

      <div class="property">
        <div class="attribute">height</div>
        <div class="value">{{ good.height | prettyLength }}</div>
      </div>

      <div class="property">
        <div class="attribute">length</div>
        <div class="value">{{ good.length | prettyLength }}</div>
      </div>

      <div class="property">
        <div class="attribute">volume</div>
        <div class="value">
          {{ good.length * good.height * good.width | prettyVolume: true | async }}
        </div>
      </div>
    </div>

    <div class="property-row">
      <div class="property">
        <div class="attribute">x-coordinate</div>
        <div class="value">{{ good.xCoord }}</div>
      </div>

      <div class="property">
        <div class="attribute">y-coordinate</div>
        <div class="value">{{ good.yCoord }}</div>
      </div>

      <div class="property">
        <div class="attribute">z-coordinate</div>
        <div class="value">{{ good.zCoord }}</div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #noGood>
  <div class="no-good-hint">no element</div>
</ng-template>
