// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$storage-manager-primary: mat-palette($mat-indigo);
$storage-manager-accent: mat-palette($mat-cyan, 700);

// The warn palette is optional (defaults to red).
$storage-manager-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$storage-manager-theme: mat-light-theme(
  (
    color: (
      primary: $storage-manager-primary,
      accent: $storage-manager-accent,
      warn: $storage-manager-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($storage-manager-theme);

@import "bebas-neue.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.width {
  width: 100%;
}

.spacer {
  flex: 1;
  overflow: hidden;
}

.cm-editor {
  height: 100% !important;
}

.CodeMirror-hints {
  z-index: 1000 !important;
}

.no-padding-dialog > .mat-dialog-container {
  padding: 0px;
}

.dialog-navbar {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0px 1rem;
  box-sizing: border-box;
  background-color: #fafafa;
}

.dialog-navbar > .icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: rgb(65, 65, 65);
  height: auto;
  width: auto;
}

.dialog-navbar .text {
  font-size: 1.4rem;
  flex: 1;
}

.dialog-body {
  flex: 1;
  overflow-y: auto;
}

.mat-menu-content {
  padding: 0px !important;
}

.smgr-menu .mat-mdc-menu-item {
  min-height: unset;
  padding: 0.25rem 0.9rem;
}
