.body {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.solution-wrapper {
    flex: 1;
    max-width: 400px;
    background-color: #fbfbfb;
    box-shadow: 0 0 4px #848484;
    z-index: 1;
    overflow-y: auto;
}

.visualizer-wrapper {
    height: 100%;
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.information-wrapper {
    right: 1rem;
    bottom: 1rem;
    position: absolute;
    width: 400px;
}

.information-wrapper > * {
    margin-bottom: .5rem;
}

