<div class="body main-component-body">
  <ng-container *ngIf="hasCurrentSolution$ | async; else noSolutionSetted">
    <div class="solution-wrapper" *ngIf="menuVisible$ | async">
      <app-solution-preview></app-solution-preview>
    </div>

    <button mat-icon-button class="menu-toggler" (click)="toggleMenu()">
      <mat-icon>{{
        (menuVisible$ | async) ? "chevron_left" : "chevron_right"
        }}</mat-icon>
    </button>

    <app-scene-visualization @fadeIn *ngIf="!(menuToggling$|async)" class="scene-visualization"
      [scene]="(scene$ | async)!" [class.hidden]="menuVisible$|async">
    </app-scene-visualization>

    <div class="information-wrapper" *ngIf="(displayDetails$ | async)">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span *ngIf="(visualizerComponentService.hoveredGood$|async); else noElement"> {{
              (visualizerComponentService.hoveredGood$|async)?.desc }} </span>
          </mat-panel-title>

          <mat-panel-description> hovered element </mat-panel-description>
        </mat-expansion-panel-header>

        <app-good-preview *ngIf="(visualizerComponentService.hoveredGood$|async); else noElement" @fadeIn
          [good]="(visualizerComponentService.hoveredGood$|async)!"></app-good-preview>
      </mat-expansion-panel>

      <mat-expansion-panel [(expanded)]="selectedGoodPanelExpanded">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span [style.color]="selectedGoodEdgeColor"
              *ngIf="!!(visualizerComponentService.selectedGood$|async); else noElement"> {{
              (visualizerComponentService.selectedGood$|async)?.desc }}
            </span>
          </mat-panel-title>

          <mat-panel-description> selected element </mat-panel-description>
        </mat-expansion-panel-header>

        <app-good-preview *ngIf="(visualizerComponentService.selectedGood$|async); else noElement"
          [good]="(visualizerComponentService.selectedGood$|async)!"></app-good-preview>
      </mat-expansion-panel>
    </div>
  </ng-container>
</div>

<ng-template #noSolutionSetted>
  <div class="no-solution-selected-hint">no solution selected</div>
</ng-template>

<ng-template #noElement>
  <span class="no-element-hint">no element</span>
</ng-template>